$gutter: 1rem;

.product-gallery {
  padding: calc($gutter/2);

  &__grid {
    display: flex;
    margin-left: -$gutter;
    width: auto;
  }
  &__grid-column {
    padding-left: $gutter;
    background-clip: padding-box;
  }

  /* Style your items */
  &__grid_column > div {
    background: grey;
    background: grey;
    margin-bottom: 30px;
  }
}
