.topic {
  &__header {
    align-items: center;
    padding: 1rem;

    &-search {
    }
    &-links {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.5rem;

      font-weight: bold;
      font-size: 1rem;

      * {
        color: #000;
      }
    }
  }
  &__title {
    text-align: center;
    font-weight: 700 !important;
  }
  &__count {
    text-align: center;
  }
}
