.topic {
  &__header {
    align-items: center;
    padding: 1rem;

    &-search {
    }
    &-link {
      color: #000;
      font-weight: bold;
      font-size: 1rem;
    }
  }
  &__title {
    text-align: center;
    font-weight: 700 !important;
  }
  &__count {
    text-align: center;
  }
}
