.image {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;

  &__hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #333333cc;
    color: #fff;
    text-decoration: none;

    display: none;

    &--visible {
      display: flex;
    }

    &-helper {
      font-size: 1.125rem;
      font-weight: bold;
    }
    &-domain {
      position: absolute;
      left: 0.5rem;
      bottom: 0.5rem;
      font-weight: bold;
    }
  }

  a {
    &:active,
    &:hover {
      color: #fff;
    }
  }
}
