.tag {
  border-radius: 2rem !important;
  color: rgba(0, 0, 0, 0.85) !important;
  background-color: #efefef !important;
  border-color: transparent !important;
  font-weight: bold;

  cursor: pointer;
}
