.search-input-with-suggestion {
  &__popover {
    .ant-popover-inner-content {
      padding: 0 !important;
      width: 100vw;
    }
  }
  &__list {
    li {
      cursor: pointer;
      padding: 0.25rem 1rem;

      &:hover {
        background-color: #ccc;
      }
    }
  }
}
